{% extends "lpcshop/catalog/product-detail.html" %}
{% load i18n cms_tags thumbnail %}

{% block main-content %}
<div class="container">
	<div class="row product-detail">
		<div class="col-xs-12 col-md-8">
			<h1>{% render_model product "product_name" %}</h1>
			<pre class="images jfk-scrollbar">
			{% for img in product.images.all %}
				{% thumbnail img 250x250 crop as thumb %}
				<img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ product.product_name }}">
			{% endfor %}
			</pre>
		</div>
		<div class="col-xs-12 col-md-8">
			{{ product.description|safe }}
			<!-- include "Add to Cart" dialog box -->
			{% include "shop/catalog/product-add2cart.html" %}
		</div>
	</div>
</div>
{% endblock main-content %}
